#node
NODE_ENV="development"
PORT=5000

# database
DATABASE_URL="postgresql://username:password@localhost:5432/health_care?schema=public"

#bcrypt
BCRYPT_SALT_ROUNDS=12

# jwt
ACCESS_TOKEN_SECRET="your_access_token_secret_here"
ACCESS_TOKEN_EXPIRES_IN="7d"
REFRESH_TOKEN_SECRET="your_refresh_token_secret_here"
REFRESH_TOKEN_EXPIRES_IN="356d"
RESET_PASS_TOKEN="your_reset_password_token_secret_here"
RESET_PASS_TOKEN_EXPIRES_IN="5m"

# frontend link
CLIENT_URL="http://localhost:3000"

# Email Configuration
NODE_MAILER_EMAIL="your_email@gmail.com"
NODE_MAILER_PASSWORD="your_app_password_here"

# cloudinary
CLOUDINARY_NAME="your_cloudinary_name"
CLOUDINARY_KEY="your_cloudinary_key"
CLOUDINARY_SECRET="your_cloudinary_secret"

# ssl
STORE_ID="your_store_id"
STORE_PASS="your_store_password"

# super admin
SUPER_ADMIN_PASSWORD="your_super_admin_password"

#invoice
EASY_INVOICE_API_KEY="your_easy_invoice_api_key"
